.header ul, .header li{
    list-style-type: none;
}
.header .main__nav{
    font-weight: 600;
}
.header p, .header a, .header ul {
    color: white;
    font-weight: 400;
}
.header ul{
    margin: 0px!important;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
}
.header{
    position: relative;
    z-index: 3;
    background: #00a99e;
}
.header.bottom{
    background: #015D5D;
    padding: 40px 80px;
}
.header .navbar{
    padding: 0px;
}
.header .nav-item{
    margin: 10px 0;
    position: relative;
}
.header .main__nav .nav-item:after{
    content: "";
    height: 100%;
    width: 1px;
    background: white;
    position: absolute;
    top: 0;
    right: 0;
}
.header .nav-item:last-child:after{
    display: none;
}

.header .btn.main-btn{
    padding: 3px 25px;
}
.nav__brand .top__logo{
    width: 180px;
    position: absolute;
    top: 0px;
}
.bottom.header ul {
    margin: 0 0 0 auto!important;
    display: flex!important;
    justify-content: center!important;
    align-items: center!important;
    width: auto;
}
.bottom.header button{
    margin-left: 50px;
    color: #015D5D;
    text-transform: unset;
}
@media(max-width: 600px){
    .nav__brand .top__logo {
        width: 158px;
        top: -10px;
    }
    .header.bottom {
        padding: 40px 15px;
    }
}
@media (max-width: 580px) and (orientation: landscape) {
    .nav__brand .top__logo {
        width: 158px;
        top: 10px;
        left: 30px;
    }
}